[Unit]
Description=Docker Airflow
Documentation=https://github.com/dr666m1/setting_airflow
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker container stop airflow
ExecStartPre=-/usr/bin/docker container rm airflow
ExecStart=/usr/bin/docker container run --name airflow -u ${AIRFLOW_USER_ID}:0 -v ${AIRFLOW_HOME}:/opt/airflow ${AIRFLOW_IMAGE} scheduler

[Install]
WantedBy=multi-user.target
