name: deploy
on: push
jobs:
  main:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Commit
        run: |
          sed -r "s/rm_old_logs_.{7}/${GITHUB_SHA:0:7}/g" ./dags/rm_old_logs.py
